<%= form_for(assignment) do |f| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :document_id %>
    <%= f.select :document_id, options_for_select(Document.all.map{|s|[s.to_s, s.id]}), class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, options_for_select(Category.all.map{|s|[s.to_s, s.id]}), class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit, class: "button" %>
  </div>
<% end %>
