<p id="notice"><%= notice %></p>
<h1>Documents:</h1>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @document.text %>
</p>

<p>
  <h1>Markdown:</h1>
  _____________________________________________________________
    <%= markdown(@document.text) %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
