<p id="notice"><%= notice %></p>

<table>


</thead>
<thead>

  <h1>Document</h1>
  <div class="panel panel-default">
    <div class="panel-heading">Title: <%= @document.title %></div>
    <div class="panel-body"><%= markdown(@document.text) %></div>
  </div>


</thead>
</table>
<%if person_signed_in? %>


<%= link_to 'Edit', edit_document_path(@document) , class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', documents_path, class: "btn btn-danger"  %>
</div>
