<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Home", root_path, class: 'navbar-brand' %>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Documents', documents_path, class: 'navbar-brand'  %>
          <%= link_to 'Categories', categories_path, class: 'navbar-brand' %>
          <%= link_to 'People', people_path, class: 'navbar-brand' %>
          <%= link_to 'Assignments', assignments_path, class: 'navbar-brand' %>
          <%= link_to 'Managements', managements_path, class: 'navbar-brand' %>

        </li>

      </ul>

      <form class="navbar-form navbar-left" action="<%= documents_path %>">
        <div class="form-group">
        <!--  <input type="text" class="form-control" name="title" placeholder="Search" value="<%= params[:title] %>">-->
          <%= form_tag(documents_path, method: 'get', class: 'navbar-form navbar-left') do %>
            <%= search_field_tag 'search', params[:search], class: 'form-control', placeholder: 'Search'  %>
            <%= submit_tag "Submit", class: 'btn btn-default', :name => nil %>
          <% end %>

        </div>
          
        <%= link_to 'Suggestions', suggestions_path(search:'Pending'), class: 'navbar-brand' , search: 'Pending' %>

      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <% if person_signed_in? %>
              <%= current_person.to_s %>
            <% else %>
              Enter
            <% end %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if person_signed_in? %>
              <li>
                <%= link_to('Logout', destroy_person_session_path, :method => :delete) %>
              </li>
                <!--  <li>
                <%= link_to "Change your password", edit_person_password_path %>
              </li>-->

            <% else %>
              <li>
                <%= link_to('Login', new_person_session_path) %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
